body{
  width: 100%;
  background-color: black;
}
#game_area{

  width: min(100%, 680px);
  height: min(100%, 440px);
}
#game {
  width: 100%;
  margin: auto;
  background-color: blue;
  display: flex;
}

*{
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Luis;
  src: url("../_fonts/goodTimingbeg.otf");
}