body{
  width: 100%;
  background-color: black;
}
#game_area{
  width: 100%;
  height: 100%;
}
#game {
  flex: 1;
  background-color: blue;
  display: flex;
}

*{
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Luis;
  src: url("../_fonts/goodTimingbeg.otf");
}