body{
  width: 100%;
  background-color: black;
}
#game_area{
  
  width: 100%;
  
  border: 2px solid red;
}
#game {
  width: min(100%, 500px);
  height: min(100%, 300px);
  margin: auto;
  display: flex;
}

*{
  margin: 0;
  box-sizing: border-box;
}